section.fall-page
	.box
		.fall-page__container
			.fall-page__number 404
			.fall-page__title Страница не найдена
			.fall-page__text Возможно, вы ошиблись адресом, или такая страница более не существует. <br>Попробуйте начать с 
				a(href="#") главной страницы