section.about-slider(style="background-image: url('assets/images/svg/blue-dark.svg');")
	.about-slider__wrap
		.about-slider-slide(attr-nav-image="assets/images/persons/people-1.png")
			.box.about-slider-slide__container
				.about-slider-slide__wrap
					.about-slider-slide__title Турник поддерживают
					.about-slider-slide__quote «Это возможность уже в юном возрасте прикоснуться к атмосфере спорта высших достижений, получить бесценный опыт и, конечно, повод для гордости.»
					.about-slider-slide__person
						.about-slider-slide__name Алексей Миллер
						.about-slider-slide__status Председатель правления ПАО "Газпром"
				img.about-slider-slide__image.image-adavtivefix(src="assets/images/persons/people-1.png")
		.about-slider-slide(attr-nav-image="assets/images/persons/people-2.png")
			.box.about-slider-slide__container
				.about-slider-slide__wrap
					.about-slider-slide__title Турник поддерживают
					.about-slider-slide__quote «Фамилии участников первых турниров уже появились на игровых свитерах профессиональных команд из Континентальной и Молодежной хоккейных лиг, и я уверен, что из года в год их будет становиться всё больше.»
					.about-slider-slide__person
						.about-slider-slide__name Александр Дюков
						.about-slider-slide__status Председатель правления компании «Газпром нефть»
				img.about-slider-slide__image(src="assets/images/persons/people-2.png")
		.about-slider-slide(attr-nav-image="assets/images/persons/people-3.png")
			.box.about-slider-slide__container
				.about-slider-slide__wrap
					.about-slider-slide__title Турник поддерживают
					.about-slider-slide__quote «Наш турнир создан для того, чтобы юные хоккеисты почувствовали атмосферу настоящего международного спортивного праздника с шоу открытия, телевизионными трансляциями, собственным сайтом и публикациями в масс-медиа.»
					.about-slider-slide__person
						.about-slider-slide__name Александр Дыбаль
						.about-slider-slide__status Председатель оргкомитета турнира, член правления компании «Газпром нефть»
				img.about-slider-slide__image(src="assets/images/persons/people-3.png")
		.about-slider-slide(attr-nav-image="assets/images/persons/people-4.png")
			.box.about-slider-slide__container
				.about-slider-slide__wrap
					.about-slider-slide__title Турник поддерживают
					.about-slider-slide__quote «Фамилии участников первых турниров уже появились на игровых свитерах профессиональных команд из Континентальной и Молодежной хоккейных лиг, и я уверен, что из года в год их будет становиться всё больше.»
					.about-slider-slide__person
						.about-slider-slide__name Дмитрий Чернышенко
						.about-slider-slide__status Президент Континентальной Хоккейной Лиги
				img.about-slider-slide__image(src="assets/images/persons/people-4.png")


	.about-slider-pagination
		.box.about-slider-pagination__wrap
			.about-slider-pagination__item.about-slider-pagination__item_active(style="background-image:url('assets/images/persons/people-1.png')")
			.about-slider-pagination__item(style="background-image:url('assets/images/persons/people-2.png')")
			.about-slider-pagination__item(style="background-image:url('assets/images/persons/people-3.png')")
			.about-slider-pagination__item(style="background-image:url('assets/images/persons/people-4.png')")