section.about-description
	.box
		.headering О турнире
		.about-description__body
			.about-description__wrap
				.about-description__text-main «Кубок Газпром нефти» — крупнейшее европейское хоккейное соревнование для детей до 11 лет. Уровень организации ничем не отличается от профессиональных соревнований.
				.about-description__image(style="background-image: url('assets/images/about-description.jpg');")
				.about-description__signature Юные хоккеисты играют на лучших ледовых аренах страны, а матчи судят профессиональные арбитры
			.about-description__text Юным хоккеистам предстоит сыграть в олимпийских дворцах «Большой» и «Айсберг», выступить на главной хоккейной площадке Омска — «Арене Омск». Матчи обслужат бригады профессиональных судей, турнир освещают крупнейшие спортив- ные телеканалы, радиостанции, интернет-порталы страны.
			.about-description__text Мультимедийное шоу открытия, предваряющее первый матч турнира, соответствует мировому уровню и не оставит болельщиков равнодушными. Даже главный трофей соревнований создан в той же мастерской, которая изгото- вила Кубок Гагарина! Словом, у юных хоккеистов есть все, чтобы почувствовать себя большими звездами!
