section.about-prize(style="background-image: url('assets/images/about-prize.jpg')")
	.box
		.about-prize__wrap
			.about-prize__image-wrap
				img.about-prize__image(src="assets/images/cup.png")
			.about-prize__content
				.about-prize__title Победитель получает ценную награду – настоящий кубок 
				.about-prize__items
					.about-prize-item
						.about-prize__number 1
						.about-prize__text Вес кубка Газпром нефти составляет 14 кг.<br>Высота кубка: 60 см
					.about-prize-item
						.about-prize__number 2
						.about-prize__text Кубок Газпром нефти изготовлен теми же мастерами, что и Кубок Гагарина
					.about-prize-item
						.about-prize__number 3
						.about-prize__text При производстве чаши использовались никелированная бронза, медь и латунь, мельхиор. Основание — красное дерево.
					.about-prize-item
						.about-prize__number 4
						.about-prize__text Ежегодно на Кубок наносится название команды-победительницы, которая получает право владеть им до начала следующего Турнира.