section.about-files
	.box
		.about-files__wrap
			.about-files__item.about-files__item_bottom
				.about-files__container
					img(src="assets/images/cover-1.png").about-files__image
					.about-files__title Официальный фотоальбом
					.about-files__download
						img(src="assets/images/svg/download.svg").about-files__download-icon
						.about-files__download-wrap
							a(href="#").about-files__download-link Скачать фотоальбом
							.about-files__download-text (PDF, 21 МБ)
			.about-files__item
				.about-files__container
					img(src="assets/images/cover-3.png").about-files__image
					.about-files__title Брошюра турнира
					.about-files__download
						img(src="assets/images/svg/download.svg").about-files__download-icon
						.about-files__download-wrap
							a(href="#").about-files__download-link Скачать брошюру
							.about-files__download-text (PDF, 21 МБ)
			.about-files__item
				.about-files__container
					img(src="assets/images/cover-2.png").about-files__image
					.about-files__title Документы
					.about-files__download
						img(src="assets/images/svg/download.svg").about-files__download-icon
						.about-files__download-wrap
							a(href="#").about-files__download-link Скачать Положение
							.about-files__download-text (PDF, 21 МБ)
					.about-files__download
						img(src="assets/images/svg/download.svg").about-files__download-icon
						.about-files__download-wrap
							a(href="#").about-files__download-link Скачать Положение
							.about-files__download-text (PDF, 21 МБ)