section.about-grow
	.box
		.about-grow__wrap
			.headering.about-grow__headering Растем каждый год
			.about-grow__text Каждый год растет количество участников «Кубка Газпром нефти», присоединяются сильнейшие детские коллективы, расширяется география. Состязания такого масштаба закаляют характер ребят, укрепляют волю к победе, прививают целеустремленность и уважение к сопернику!
			a(href="#").about-grow__button Подробнее о турнире

		.about-grow__items
			.about-grow-item
				img(src="assets/images/svg/flag-rus.svg").about-grow-item__image
				.about-grow-item__title Россия
				.about-grow-item__text с 2007 г.
			.about-grow-item
				img(src="assets/images/svg/flag-ltv.svg").about-grow-item__image
				.about-grow-item__title Латвия
				.about-grow-item__text с 2007 г.
			.about-grow-item
				img(src="assets/images/svg/flag-bl.svg").about-grow-item__image
				.about-grow-item__title Беларусь
				.about-grow-item__text с 2007 г.
			.about-grow-item
				img(src="assets/images/svg/flag-fin.svg").about-grow-item__image
				.about-grow-item__title Финляндия
				.about-grow-item__text с 2007 г.
			.about-grow-item
				img(src="assets/images/svg/flag-ger.svg").about-grow-item__image
				.about-grow-item__title Германия
				.about-grow-item__text с 2007 г.
			.about-grow-item
				img(src="assets/images/svg/flag-ua.svg").about-grow-item__image
				.about-grow-item__title Украина
				.about-grow-item__text с 2007 г.