section.arenas-info.about-info(style="background-image: url('assets/images/about-info.jpg')")
	.box.about-info__box
		.headering.about-info__headering «Кубок Газпром нефти» в цифрах
		.arenas-info__items
			.arenas-info-item
				.arenas-info-item__icon
					img(src="assets/images/svg/arenas-people.svg")
				.arenas-info-item__number(data-from="100000" data-to="178 000") 178 000
				.arenas-info-item__text Болельщиков
			.arenas-info-item
				.arenas-info-item__icon
					img(src="assets/images/svg/arenas-arena.svg")
				.arenas-info-item__number(data-from="0" data-to="3 000") 3 000
				.arenas-info-item__text Участников
			.arenas-info-item
				.arenas-info-item__icon
					img(src="assets/images/svg/arenas-arena.svg")
				.arenas-info-item__number(data-from="0" data-to="430") 430
				.arenas-info-item__text Матчей сыграно

		.about-info__facts
			.about-info-fact
				.about-info-fact__title 104
				.about-info-fact__text Игрока представляли Россию на международных турнирах для юниоров
			.about-info-fact
				.about-info-fact__title 134
				.about-info-fact__text Бывших участника турнира выступают в коллективах МХЛ
			.about-info-fact
				.about-info-fact__title 27
				.about-info-fact__text Команд из 5 стран прининяли участие в турнире в 2017 г.
