section.arenas-media
	.box
		.headering.arenas-media__headering Медия
		.arenas-media__wrap
			.arenas-media__item
				.arenas-media__container(style="background-image: url('assets/images/arenas-media-2.jpg');")
			.arenas-media__item
				.arenas-media__container(style="background-image: url('assets/images/arenas-media-2.jpg');")
			.arenas-media__item
				.arenas-media__container(style="background-image: url('assets/images/arenas-media-2.jpg');")
			.arenas-media__item
				.arenas-media__container(style="background-image: url('assets/images/arenas-media-2.jpg');")
					.arenas-media__icon
						img(src="assets/images/svg/icon_play.svg")