section.arenas-about
	.box
		.arenas-about__image(style="background-image: url('assets/images/arenas-about.jpg');")
		.headering.arenas-about__headering Дворец спорта «Айсберг»»
		.arenas-about-description
			.arenas-about-description__left
				.arenas-about-description__text Дворец был построен в 2013 году к зимним Олимпийским играм в Сочи. В феврале 2014 года на арене проходили хоккейные матчи Олимпиады. В «Большом» также состоялись: гала-матч Ночной хоккейной лиги, «Кубок Первого канала» (2014 год) и Матч звезд КХЛ (2015 год).
				.arenas-about-description__text В Ледовом дворце «Большой» расположены два катка, 16 раздевалок, современный пресс-центр. Одна из технических достопримечательностей дворца – современный медиакуб, который весит более 26 тонн.
				.arenas-about-description__text Дворец спорта «Большой» принимал главные матчи хоккейного турнира на XXII Зимних Олимпийских играх. Также в его стенах проходили Чемпионат мира по хоккею среди юниорских команд 2013 года, Кубок Первого канала, и многие другие массовые мероприятия. В 2014 году «Большой» стал домашней ареной для хоккейного клуба «Сочи». 
			.arenas-about-description__right
				.arenas-about-contacts
					.arenas-about-contacts__item
						.arenas-about-contacts__title Официальный сайт:
						a(href="#").arenas-about-contacts__link www.hcsochi.ru
					.arenas-about-contacts__item
						.arenas-about-contacts__title Телефон для справок
						.arenas-about-contacts__text + 7 (862) 243-30-80
					.arenas-about-contacts__item
						.arenas-about-contacts__title Адрес
						.arenas-about-contacts__text 354354, Краснодарский край, г. Сочи, Адлерский р-н, Имеретинская низменность
					a(href="#").arenas-about-contacts__more
						.arenas-about-contacts__more-text Все контакты
						.arenas-about-contacts__more-icon
							+icon('icon_arrow-grey', 13, 11)

