section.arenas-info(style="background-image: url('assets/images/arenas-info.jpg')")
	.box
		.headering.arenas-info__headering «Айсберг» – современный комплекс
		.arenas-info__items
			.arenas-info-item
				.arenas-info-item__icon
					img(src="assets/images/svg/arenas-people.svg")
				.arenas-info-item__number(data-from="10000" data-to="25000") 25 000
				.arenas-info-item__text Кв. м площадь арены
			.arenas-info-item
				.arenas-info-item__icon
					img(src="assets/images/svg/arenas-arena.svg")
				.arenas-info-item__number(data-from="0" data-to="10318") 10318
				.arenas-info-item__text Зрителей вместимость арены
