section.arenas-map
	.box
		.headering Как добраться
			.arenas-map__wrap
				.arenas-map__map
				.arenas-map__content
					.arenas-map__text Без пересадок из Сочи и Адлера до Большого ледового дворца можно доехать на автобусе № 125с, который останавливается наиболее близко к зданию (по маршруту есть остановки у всех основных комплексов Олимпийского парка). Этот маршрут весьма удобен, так как проходит с остановками у главных транспортных узлов: автовокзала и ж/д вокзала в Сочи, нового ж/д вокзала в Адлере.
					.arenas-map__text Транспорт от аэропорта Адлер-Сочи — автобус № 57к, отправляется от остановки у главного терминала.
					.arenas-map__text Ближайшие автобусные остановки (где выходить) — «Ледовый дворец „Большой“» либо «Олимпийский парк».
					.arenas-map__text Удобным может быть вариант с электричкой «Ласточка» до Олимпийского парка

					.arenas-map-links
						a(href="#").arenas-map-links__item Смотреть на Яндекс.Картах
						a(href="#").arenas-map-links__item Смотреть на Goole.Картах