section.contact-block
	.box
		.headering-mini Сочи

		.contact-block__wrap
			.contact-block-item
				.contact-block-item__title Дворец спорта «Большой»
				.contact-block-item__text +7 (862) 243-30-52
				.contact-block-item__text г. Сочи, Олимпийский парк
				a(href="#").contact-block-item__link
					.contact-block-item__icon
						+icon('icon_point-blue', 9, 13)
					.contact-block-item__link-text Показать на карте
			.contact-block-item
				.contact-block-item__title Ледовый дворец «Айсберг»
				.contact-block-item__text +7 (862) 243-30-52
				.contact-block-item__text г. Сочи, Олимпийский парк, Триумфальный проезд
				a(href="#").contact-block-item__link
					.contact-block-item__icon
						+icon('icon_point-blue', 9, 13)
					.contact-block-item__link-text Показать на карте
			.contact-block-item
				.contact-block-item__title Гостиница «Бархатные сезоны» -Екатерининский квартал
				.contact-block-item__text +7 (862) 243-30-52
				.contact-block-item__text г. Сочи, Бульвар Надежды, д. 18
				a(href="#").contact-block-item__link
					.contact-block-item__icon
						+icon('icon_point-blue', 9, 13)
					.contact-block-item__link-text Показать на карте
			.contact-block-item
				.contact-block-item__title Представители по спортивным вопросам
				.contact-block-item__wrap
					.contact-block-item__text +7 (862) 243-30-52
					.contact-block-item__name Родионов Андрей
				.contact-block-item__wrap
					.contact-block-item__text +7 (862) 243-30-52
					.contact-block-item__name Родионов Андрей
			.contact-block-item
				.contact-block-item__title Представитель по вопросам проживания, питания и транспорта
				.contact-block-item__wrap
					.contact-block-item__text +7 (862) 243-30-52
					.contact-block-item__name Родионов Андрей
			.contact-block-item
				.contact-block-item__title Представитель страховой компании «СОГАЗ»
				.contact-block-item__wrap
					.contact-block-item__text +7 (862) 243-30-52
					.contact-block-item__name Родионов Андрей
			.contact-block-item
				.contact-block-item__title Руководитель пресс-центра группы «Запад»
				.contact-block-item__wrap
					.contact-block-item__text +7 (862) 243-30-52
					.contact-block-item__name Малицкий Олег
				a(href="#").contact-block-item__link
					.contact-block-item__link-text gpncup2016@gmail.com

section.contact-block
	.box
		.headering-mini Омск

		.contact-block__wrap
			.contact-block-item
				.contact-block-item__title Дворец спорта «Большой»
				.contact-block-item__text +7 (862) 243-30-52
				.contact-block-item__text г. Сочи, Олимпийский парк
				a(href="#").contact-block-item__link
					.contact-block-item__icon
						+icon('icon_point-blue', 9, 13)
					.contact-block-item__link-text Показать на карте
			.contact-block-item
				.contact-block-item__title г. Сочи, Олимпийский парк, Триумфальный проезд
				.contact-block-item__text +7 (862) 243-30-52
				.contact-block-item__text г. Сочи, Олимпийский парк
				a(href="#").contact-block-item__link
					.contact-block-item__icon
						+icon('icon_point-blue', 9, 13)
					.contact-block-item__link-text Показать на карте
			.contact-block-item
				.contact-block-item__title Гостиница «Бархатные сезоны» -Екатерининский квартал
				.contact-block-item__text +7 (862) 243-30-52
				.contact-block-item__text г. Сочи, Олимпийский парк
				a(href="#").contact-block-item__link
					.contact-block-item__icon
						+icon('icon_point-blue', 9, 13)
					.contact-block-item__link-text Показать на карте
			.contact-block-item
				.contact-block-item__title Представители по спортивным вопросам
				.contact-block-item__text +7 (862) 243-30-52
				.contact-block-item__text г. Сочи, Олимпийский парк
				a(href="#").contact-block-item__link
					.contact-block-item__icon
						+icon('icon_point-blue', 9, 13)
					.contact-block-item__link-text Показать на карте
			.contact-block-item
				.contact-block-item__title Представитель по вопросам проживания, питания и транспорта
				.contact-block-item__text +7 (862) 243-30-52
				.contact-block-item__text г. Сочи, Олимпийский парк
				a(href="#").contact-block-item__link
					.contact-block-item__icon
						+icon('icon_point-blue', 9, 13)
					.contact-block-item__link-text Показать на карте
			.contact-block-item
				.contact-block-item__title Представитель страховой компании «СОГАЗ»
				.contact-block-item__text +7 (862) 243-30-52
				.contact-block-item__text г. Сочи, Олимпийский парк
				a(href="#").contact-block-item__link
					.contact-block-item__icon
						+icon('icon_point-blue', 9, 13)
					.contact-block-item__link-text Показать на карте
			.contact-block-item
				.contact-block-item__title Руководитель пресс-центра группы «Запад»
				.contact-block-item__text +7 (862) 243-30-52
				.contact-block-item__text г. Сочи, Олимпийский парк
				a(href="#").contact-block-item__link
					.contact-block-item__icon
						+icon('icon_point-blue', 9, 13)
					.contact-block-item__link-text Показать на карте


