section.section-offers
	.box.section-offers__box
		.section-offers__wrap
			.section-offers__item
				.section-offers__container(style="background-image: url('assets/images/mask.jpg')")
					.section-offers__title Аккредитация для СМИ
					.section-offers__text Для оформления аккредитации на хоккейный турнир, необходимо заполнить форму заявки.
					a(href="#").section-offers__button Подробнее
					img(src="assets/images/participant-offer.png").section-offers__image(style="bottom: -60px")
			.section-offers__item
				.section-offers__container(style="background-image: url('assets/images/mask.jpg')")
					.section-offers__title Есть вопросы?
					.section-offers__text Вы можете задать вопрос связанный с турниром. Благодаря вашим отзывам мы улучшаем качество нашей работы.
					a(href="#").section-offers__button Задать вопрос
					img(src="assets/images/angle-offer.png").section-offers__image(style="bottom: -105px")
			