.footer
	.box
		.footer__logo
			a(href="#").footer__logo-icon
			.footer__copyright © 2012-2017

		.footer__wrap
			.footer-links
				a(href="https://imr.world/about/#official").footer-links__link Раскрытие информации
				a(href="https://imr.world/assets/public/documents/rus_tariffs.pdf").footer-links__link Тарифы
				a(href="https://imr.world/assets/public/documents/rus_clientagree.pdf").footer-links__link Пользовательское соглашение
				a(href="https://imr.world/about/#vacancies").footer-links__link Для сотрудников

			nav.footer-nav
				ul.footer-nav__list
					li.header-nav__item.current-menu-item
						a(href="https://imr.world/about/" target="_blank").header-nav__link О компании
					li.header-nav__item
						a(href="https://imr.world/analytics/" target="_blank").footer-nav__link Аналитика
					li.header-nav__item
						a(href="https://imr.world/markets/" target="_blank").header-nav__link Рынки
					li.header-nav__item
						a(href="https://imr.world/investideas/" target="_blank").header-nav__link Инвестидеи
					li.header-nav__item
						a(href="https://imr.world/chats/" target="_blank").header-nav__link Чаты
					li.header-nav__item
						a(href="https://imr.world/learning/" target="_blank").header-nav__link Обучение

			.footer-contacts
				a(href="tel: 88007002644").footer-contacts__item
					+icon('footer_phone', 21, 22)
					p.footer-contacts__text 8 800-700-2644
				a(href="mailto: support@imr.word").footer-contacts__item
					+icon('footer_mail', 24, 18)
					p.footer-contacts__text Support@imr.word
				a(href="viber://add?number=imr_support").footer-contacts__item
					+icon('footer_phone-viber', 23, 24)
					p.footer-contacts__text imr_support
				.footer-contacts__counter <span>1080</span> зарегистрировано