section.header-tabs(style="background-image: url('assets/images/arenas-header.jpg')")
	.box
		.headering-big.header-tabs__headering Программа
		ul.header-tabs-list
			li.header-tabs-list__item.header-tabs-list__item_active
				a(href="#").header-tabs-list__link Группа "Запад" 
			li.header-tabs-list__item
				a(href="#").header-tabs-list__link Группа "Восток"