section.inmates
	.box
		.headering Воспитанники
		.inmates__body
			.inmates__text Вводный текст.  «Хоккей без границ» — это не просто фильм о прошедшем XI «Кубке Газпром нефти». Это история трудной работы на пути к первой большой победе! И этот путь, полный утомительных тренировок и напряженных ледовых баталий, для каждого участника турнира, только начинается. Это история не только борьбы на льду лучших арен страны, но и веселого путешествия с друзьями, знакомства с ребятами из других городов и стран, забавных и впечатляющих экскурсий в Омске и Сочи.

			.inmates__items

				.inmates-item(style="background-image: url('assets/images/inmates-bg.jpg');")
					.inmates-item__image-wrap
						.inmates-item__image
							img(src="assets/images/inmates/image1.png")
					.inmates-item__wrap
						.inmates-item__title Кувардин Савелий
						table.inmates-item__table
							tr
								td Дата рождения:
								td 1990 г.
							tr
								td Команда:
								td Салават Юлаев
							tr
								td Амплуа:
								td Нападающий
							tr
								td Воспитанник:
								td Акбарс
						.achievements
							.achievements-item
								img(src="assets/images/svg/small-red.svg").achievements-item__icon
								.achievements-item__text 3 место - IIX «Кубок Газпром нефти»
							.achievements-item
								img(src="assets/images/svg/small-red.svg").achievements-item__icon
								.achievements-item__text 2 место - МХЛ 2017 г.


				.inmates-item(style="background-image: url('assets/images/inmates-bg.jpg');")
					.inmates-item__image-wrap
						.inmates-item__image
							img(src="assets/images/inmates/image2.png")
					.inmates-item__wrap
						.inmates-item__title Зиновьев Данил
						table.inmates-item__table
							tr
								td Дата рождения:
								td 1989 г.
							tr
								td Команда:
								td Белые Медведи
							tr
								td Амплуа:
								td Нападающий
							tr
								td Воспитанник:
								td Авангард
						.achievements
							.achievements-item
								img(src="assets/images/svg/small-red.svg").achievements-item__icon
								.achievements-item__text 3 место - IIX «Кубок Газпром нефти»
							.achievements-item
								img(src="assets/images/svg/small-red.svg").achievements-item__icon
								.achievements-item__text 2 место - МХЛ 2017 г.
							.achievements-item
								img(src="assets/images/svg/small-red.svg").achievements-item__icon
								.achievements-item__text 2 место - МХЛ 2017 г.

				.inmates-item(style="background-image: url('assets/images/inmates-bg.jpg');")
					.inmates-item__image-wrap
						.inmates-item__image
							img(src="assets/images/inmates/image1.png")
					.inmates-item__wrap
						.inmates-item__title Кувардин Савелий
						table.inmates-item__table
							tr
								td Дата рождения:
								td 1990 г.
							tr
								td Команда:
								td Салават Юлаев
							tr
								td Амплуа:
								td Нападающий
							tr
								td Воспитанник:
								td Акбарс
						.achievements
							.achievements-item
								img(src="assets/images/svg/small-red.svg").achievements-item__icon
								.achievements-item__text 3 место - IIX «Кубок Газпром нефти»
							.achievements-item
								img(src="assets/images/svg/small-red.svg").achievements-item__icon
								.achievements-item__text 2 место - МХЛ 2017 г.


				.inmates-item(style="background-image: url('assets/images/inmates-bg.jpg');")
					.inmates-item__image-wrap
						.inmates-item__image
							img(src="assets/images/inmates/image2.png")
					.inmates-item__wrap
						.inmates-item__title Зиновьев Данил
						table.inmates-item__table
							tr
								td Дата рождения:
								td 1989 г.
							tr
								td Команда:
								td Белые Медведи
							tr
								td Амплуа:
								td Нападающий
							tr
								td Воспитанник:
								td Авангард
						.achievements
							.achievements-item
								img(src="assets/images/svg/small-red.svg").achievements-item__icon
								.achievements-item__text 3 место - IIX «Кубок Газпром нефти»
							.achievements-item
								img(src="assets/images/svg/small-red.svg").achievements-item__icon
								.achievements-item__text 2 место - МХЛ 2017 г.
							.achievements-item
								img(src="assets/images/svg/small-red.svg").achievements-item__icon
								.achievements-item__text 2 место - МХЛ 2017 г.

			.inmates-button__wrap
				a(href="#").inmates-button Показать еще