section.map-site
	.box
		.headering Карта сайта
		.map-site__wrap
			.map-site-item
				ul.map-site-item__list
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Главная
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link О турнире
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Новости
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Видео
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Матчи
				ul.map-site-item__list
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Статистика
					li.map-site-item__item
						a(href="#").map-site-item__link Личная
					li.map-site-item__item
						a(href="#").map-site-item__link Командная
				ul.map-site-item__list
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Таблица
					li.map-site-item__item
						a(href="#").map-site-item__link Предварительный этап
					li.map-site-item__item.map-site-item__light
						a(href="#").map-site-item__link Плей-офф
			.map-site-item
				ul.map-site-item__list
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Фото
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link История
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Программа мероприятий
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Отзывы
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Воспитанники
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Голосование
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Купить билеты
				ul.map-site-item__list
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Арены
					li.map-site-item__item
						a(href="#").map-site-item__link Ледовый дворец "Большой"
					li.map-site-item__item
						a(href="#").map-site-item__link Ледовый дворец "Айсберг"
					li.map-site-item__item
						a(href="#").map-site-item__link Арена Омск
			.map-site-item
				ul.map-site-item__list
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Команды
					li.map-site-item__item
						a(href="#").map-site-item__link Авангард (Омская область)
					li.map-site-item__item
						a(href="#").map-site-item__link Автомобилист (Екатеринбург)
					li.map-site-item__item
						a(href="#").map-site-item__link Ак Барс (Казань)
					li.map-site-item__item
						a(href="#").map-site-item__link Амур (Хабаровск)
					li.map-site-item__item
						a(href="#").map-site-item__link Барыс (Астана)
					li.map-site-item__item
						a(href="#").map-site-item__link Витязь (Московская область)
					li.map-site-item__item
						a(href="#").map-site-item__link Динамо (Минск)
					li.map-site-item__item
						a(href="#").map-site-item__link Динамо (Москва)
					li.map-site-item__item
						a(href="#").map-site-item__link Динамо (Рига)
					li.map-site-item__item
						a(href="#").map-site-item__link Йокерит (Хельсинки)
					li.map-site-item__item
						a(href="#").map-site-item__link ЛАДА (Тольятти)
					li.map-site-item__item
						a(href="#").map-site-item__link Локомотив (Ярославль)
					li.map-site-item__item
						a(href="#").map-site-item__link Металлург (Магнитогорск)
					li.map-site-item__item
						a(href="#").map-site-item__link Металлург (Новокузнецк)
					li.map-site-item__item
						a(href="#").map-site-item__link Нефтехимик (Нижнекамск)
					li.map-site-item__item
						a(href="#").map-site-item__link Рубин (Тюмень)
					li.map-site-item__item
						a(href="#").map-site-item__link Салават Юлаев (Уфа)
					li.map-site-item__item
						a(href="#").map-site-item__link Северсталь (Череповец)
					li.map-site-item__item
						a(href="#").map-site-item__link Сибирь (Новосибирск)
					li.map-site-item__item
						a(href="#").map-site-item__link СКА (Санкт-Петербург)
					li.map-site-item__item
						a(href="#").map-site-item__link Сочи (Сочи)
					li.map-site-item__item
						a(href="#").map-site-item__link Спартак (Москва)
					li.map-site-item__item
						a(href="#").map-site-item__link Торпедо (Нижний Новгород)
					li.map-site-item__item
						a(href="#").map-site-item__link Трактор (Челябинск)
					li.map-site-item__item
						a(href="#").map-site-item__link ЦСКА (Москва)
					li.map-site-item__item
						a(href="#").map-site-item__link Югра (Ханты-Мансийск)
					li.map-site-item__item
						a(href="#").map-site-item__link Ямал (Салехард)

			.map-site-item
				ul.map-site-item__list
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Партнеры
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Форма обратной связи
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Поиск
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Контакты

				ul.map-site-item__list
					li.map-site-item__item.map-site-item__item_title
						a(href="#").map-site-item__link Файлы
					li.map-site-item__item
						a(href="#").map-site-item__link Фотоальбом
					li.map-site-item__item
						a(href="#").map-site-item__link Буклет
					li.map-site-item__item
						a(href="#").map-site-item__link Регламент турнира