section.programm-days
	.box
		.programm-days__text Время указано московское

		.programm-days-item
			.programm-days-item__title 21 Апреля (Пт)
			table.programm-days-item__table
				tr
						td
							p В течение дня
						td
							p Приезд и размещение команд в гостинице 
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p г. Сочи
				tr
						td
							p  В течение дня
						td
							p  Прием официальных заявок от команд
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  ДС «Большой»
				tr
						td
							p  В течение дня
						td
							p  Тренировки команд (по отдельному графику)
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  г. Сочи
				tr
						td
							p  В течение дня
						td
							p  ДС «Большой»   Экскурсионная программа (по отдельному графику)
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  г. Сочи
		.programm-days-item
			.programm-days-item__title 21 Апреля (Пт)
			table.programm-days-item__table
				tr
						td
							p В течение дня
						td
							p Приезд и размещение команд в гостинице 
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p г. Сочи
				tr
						td
							p  В течение дня
						td
							p  Прием официальных заявок от команд
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  ДС «Большой»
				tr
						td
							p  В течение дня
						td
							p  Тренировки команд (по отдельному графику)
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  г. Сочи
				tr
						td
							p  В течение дня
						td
							p  ДС «Большой»   Экскурсионная программа (по отдельному графику)
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  г. Сочи
		.programm-days-item
			.programm-days-item__title 21 Апреля (Пт)
			table.programm-days-item__table
				tr
						td
							p В течение дня
						td
							p Приезд и размещение команд в гостинице 
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p г. Сочи
				tr
						td
							p  В течение дня
						td
							p  Прием официальных заявок от команд
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  ДС «Большой»
				tr
						td
							p  В течение дня
						td
							p  Тренировки команд (по отдельному графику)
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  г. Сочи
				tr
						td
							p  В течение дня
						td
							p  ДС «Большой»   Экскурсионная программа (по отдельному графику)
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  г. Сочи
		.programm-days-item
			.programm-days-item__title 21 Апреля (Пт)
			table.programm-days-item__table
				tr
						td
							p В течение дня
						td
							p Приезд и размещение команд в гостинице 
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p г. Сочи
				tr
						td
							p  В течение дня
						td
							p  Прием официальных заявок от команд
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  ДС «Большой»
				tr
						td
							p  В течение дня
						td
							p  Тренировки команд (по отдельному графику)
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  г. Сочи
				tr
						td
							p  В течение дня
						td
							p  ДС «Большой»   Экскурсионная программа (по отдельному графику)
						td
							.programm-days-item__wrap
								+icon('icon_point', 9, 13)
								p  г. Сочи
		