section.read-next
	.box
		.headering Читать далее

		.read-next__body
			.read-next-item
				.read-next-item__wrap(style="background-image: url('assets/images/next_1.jpg')")
					.read-next-item__title О турнире
					.read-next-item__text Узнайте, как развивался турнир и какие команды принимали участие.
					.read-next-item__button Подробнее
			.read-next-item
				.read-next-item__wrap(style="background-image: url('assets/images/next_2.jpg')")
					.read-next-item__title Арены турнира
					.read-next-item__text Узнайте, как развивался турнир и какие команды принимали участие.
					.read-next-item__button Подробнее
			.read-next-item
				.read-next-item__wrap(style="background-image: url('assets/images/next_3.jpg')")
					.read-next-item__title Арены турнира
					.read-next-item__text Узнайте, как развивался турнир и какие команды принимали участие.
					.read-next-item__button Подробнее
			.read-next-item
				.read-next-item__wrap(style="background-image: url('assets/images/next_4.jpg')")
					.read-next-item__title Арены турнира
					.read-next-item__text Узнайте, как развивался турнир и какие команды принимали участие.
					.read-next-item__button Подробнее
			.read-next-item
				.read-next-item__wrap(style="background-image: url('assets/images/next_5.jpg')")
					.read-next-item__title Арены турнира
					.read-next-item__text Узнайте, как развивался турнир и какие команды принимали участие.
					.read-next-item__button Подробнее
			.read-next-item
				.read-next-item__wrap(style="background-image: url('assets/images/next_6.jpg')")
					.read-next-item__title Арены турнира
					.read-next-item__text Узнайте, как развивался турнир и какие команды принимали участие.
					.read-next-item__button Подробнее
