section.reviews
	.box
		.reviews__header
			.headering Участники
			.reviews-buttons
				.reviews-buttons__item
					img(src="assets/images/svg/small-grey-left.svg")
				.reviews-buttons__item
					img(src="assets/images/svg/small-grey-right.svg")

	.reviews-items
		.box.reviews-items__wrap
			.reviews-items__item.reviews-items__item_active(style="background-image:url('assets/images/reviews/1a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/2a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/3a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/4a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/1a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/2a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/3a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/4a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/1a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/2a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/3a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/4a.png');")
			.reviews-items__item(style="background-image:url('assets/images/reviews/1a.png');")

	.reviews__slider
		.reviews-slide(style="background-image:url('assets/images/reviews/vosp+otziv-bg.jpg');")
			.box.reviews-slide__container
				.reviews-slide__image
					img(src="assets/images/reviews/member1.png")
				.reviews-slide__wrap
					.reviews-slide__title Отзыв 7 из 15
					.reviews-slide__quote «Здесь проходит вся моя жизнь: тут друзья, веселье, общие победы и общие поражения. Мы через всё это проходим вместе и становимся настоящей семьёй, что очень помогает, когда неприятные ситуации возникают за пределами команды. Ты всегда можешь быть уверен, что здесь тебя поймут и помогут»
					.reviews-slide__name Валерий Мамедов
					.reviews-slide__status нападающий ХК "Авангард"
				.reviews-slide-pagination
					.reviews-slide-pagination__item.reviews-slide-pagination__item_disable
						img(src="assets/images/svg/arrow-slider-bg-left.svg")
					.reviews-slide-pagination__item
						img(src="assets/images/svg/arrow-slider-bg-left.svg")