section.partners
	.box.partners__box
		.headering.partners__headering Партнеры
		.partners__body
			.partners__string
				.partners-item
					img(src="assets/images/logos/logo-sponsor-1.svg").partners-item__image
					.partners-item__title Газпром нефть
					.partners-item__subtitle Организатор турнира
				.partners-item
					img(src="assets/images/logos/logo-sponsor-2.jpg").partners-item__image
					.partners-item__title Континентальная Хоккейная Лига (КХЛ)
					.partners-item__subtitle Организатор турнира
			.partners__string
				.partners-item
					img(src="assets/images/logos/logo-sponsor-3.png").partners-item__image
					.partners-item__title Газпром нефть
					.partners-item__subtitle Генеральный партнер
				.partners-item
					img(src="assets/images/logos/logo-sponsor-4.png").partners-item__image
					.partners-item__title Континентальная Хоккейная Лига (КХЛ)
					.partners-item__subtitle Официальный страховщик
			.partners__string.partners__string_small
				.partners-item
					img(src="assets/images/logos/logo-sponsor-5.png").partners-item__image
					.partners-item__title CCM
					.partners-item__subtitle Партнер
				.partners-item
					img(src="assets/images/logos/logo-sponsor-6.png").partners-item__image
					.partners-item__title Спорт-Экспресс
					.partners-item__subtitle Партнер
				.partners-item
					img(src="assets/images/logos/logo-sponsor-7.png").partners-item__image
					.partners-item__title Honka
					.partners-item__subtitle Партнер
			.partners__string.partners__string_small
				.partners-item
					img(src="assets/images/logos/logo-sponsor-8.png").partners-item__image
					.partners-item__title CCM
					.partners-item__subtitle Партнер
				.partners-item
					img(src="assets/images/logos/logo-sponsor-9.png").partners-item__image
					.partners-item__title Спорт-Экспресс
					.partners-item__subtitle Партнер
				.partners-item
					img(src="assets/images/logos/logo-sponsor-10.png").partners-item__image
					.partners-item__title Honka
					.partners-item__subtitle Партнер