section.support-page
	.box
		.support-page__header
			.headering Поддержи любимую команду
		.simple-text.support-page__text Болеете за юных хоккеистов? Поддержи свою любимую команду на хоккейном турнире «Кубок Газпром нефти»!
		.support-page__body
			.support-page-table__wrap
				.support-page-table
					.support-page-table__header
						.support-page-table__header-title Восток
					.support-page-table__body
						.support-table-header
							.support-table-header__item №
							.support-table-header__item Команда
						.support-table-item
							.support-table-item__left
								.support-table-item__number 1
								.support-table-item__logo
									img(src="assets/images/logos/logo-neftehimik.svg" width="30")
								.support-table-item__name Нефтехимик
							.support-table-item__right
								.support-table-item__button.support-table-item_clicked
									.support-table-item-like
										.support-table-item-like__text Поддержать
										.support-table-item-like__icon
											img(src="assets/images/heart.png" width="13")
									.support-table-item-share
										a(href="#").support-table-item-share__icon
											+icon('icon_fb', 9, 16)
										a(href="#").support-table-item-share__icon
											+icon('icon_vk', 20, 12)
										a(href="#").support-table-item-share__icon
											+icon('icon_tw', 17, 14)
						.support-table-item
							.support-table-item__left
								.support-table-item__number 2
								.support-table-item__logo
									img(src="assets/images/logos/logo-yamal.png" width="30")
								.support-table-item__name Ямал
							.support-table-item__right
								.support-table-item__button
									.support-table-item-like
										.support-table-item-like__text Поддержать
										.support-table-item-like__icon
											img(src="assets/images/heart.png" width="13")
									.support-table-item-share
										a(href="#").support-table-item-share__icon
											+icon('icon_fb', 9, 16)
										a(href="#").support-table-item-share__icon
											+icon('icon_vk', 20, 12)
										a(href="#").support-table-item-share__icon
											+icon('icon_tw', 17, 14)
						.support-table-item
							.support-table-item__left
								.support-table-item__number 3
								.support-table-item__logo
									img(src="assets/images/logos/logo-akbars.jpg" width="30")
								.support-table-item__name Екатеринбург
							.support-table-item__right
								.support-table-item__button
									.support-table-item-like
										.support-table-item-like__text Поддержать
										.support-table-item-like__icon
											img(src="assets/images/heart.png" width="13")
									.support-table-item-share
										a(href="#").support-table-item-share__icon
											+icon('icon_fb', 9, 16)
										a(href="#").support-table-item-share__icon
											+icon('icon_vk', 20, 12)
										a(href="#").support-table-item-share__icon
											+icon('icon_tw', 17, 14)
						.support-table-item
							.support-table-item__left
								.support-table-item__number 4
								.support-table-item__logo
									img(src="assets/images/logos/logo-auto.svg" width="30")
								.support-table-item__name Автомобилист
							.support-table-item__right
								.support-table-item__button
									.support-table-item-like
										.support-table-item-like__text Поддержать
										.support-table-item-like__icon
											img(src="assets/images/heart.png" width="13")
									.support-table-item-share
										a(href="#").support-table-item-share__icon
											+icon('icon_fb', 9, 16)
										a(href="#").support-table-item-share__icon
											+icon('icon_vk', 20, 12)
										a(href="#").support-table-item-share__icon
											+icon('icon_tw', 17, 14)
						.support-table-item
							.support-table-item__left
								.support-table-item__number 5
								.support-table-item__logo
									img(src="assets/images/logos/logo-akbars.jpg" width="30")
								.support-table-item__name Ярославль
							.support-table-item__right
								.support-table-item__button
									.support-table-item-like
										.support-table-item-like__text Поддержать
										.support-table-item-like__icon
											img(src="assets/images/heart.png" width="13")
									.support-table-item-share
										a(href="#").support-table-item-share__icon
											+icon('icon_fb', 9, 16)
										a(href="#").support-table-item-share__icon
											+icon('icon_vk', 20, 12)
										a(href="#").support-table-item-share__icon
											+icon('icon_tw', 17, 14)
						.support-table-item
							.support-table-item__left
								.support-table-item__number 6
								.support-table-item__logo
									img(src="assets/images/logos/logo-dynamo.svg" width="30")
								.support-table-item__name Динамо
							.support-table-item__right
								.support-table-item__button
									.support-table-item-like
										.support-table-item-like__text Поддержать
										.support-table-item-like__icon
											img(src="assets/images/heart.png" width="13")
									.support-table-item-share
										a(href="#").support-table-item-share__icon
											+icon('icon_fb', 9, 16)
										a(href="#").support-table-item-share__icon
											+icon('icon_vk', 20, 12)
										a(href="#").support-table-item-share__icon
											+icon('icon_tw', 17, 14)
						.support-table-item
							.support-table-item__left
								.support-table-item__number 7
								.support-table-item__logo
									img(src="assets/images/logos/logo-spartak.svg" width="30")
								.support-table-item__name Спартак
							.support-table-item__right
								.support-table-item__button
									.support-table-item-like
										.support-table-item-like__text Поддержать
										.support-table-item-like__icon
											img(src="assets/images/heart.png" width="13")
									.support-table-item-share
										a(href="#").support-table-item-share__icon
											+icon('icon_fb', 9, 16)
										a(href="#").support-table-item-share__icon
											+icon('icon_vk', 20, 12)
										a(href="#").support-table-item-share__icon
											+icon('icon_tw', 17, 14)
						.support-table-item
							.support-table-item__left
								.support-table-item__number 8
								.support-table-item__logo
									img(src="assets/images/logos/logo-lokomotiv.svg" width="30")
								.support-table-item__name Локомотив
							.support-table-item__right
								.support-table-item__button
									.support-table-item-like
										.support-table-item-like__text Поддержать
										.support-table-item-like__icon
											img(src="assets/images/heart.png" width="13")
									.support-table-item-share
										a(href="#").support-table-item-share__icon
											+icon('icon_fb', 9, 16)
										a(href="#").support-table-item-share__icon
											+icon('icon_vk', 20, 12)
										a(href="#").support-table-item-share__icon
											+icon('icon_tw', 17, 14)
			.support-page-table__wrap
				.support-page-table
					.support-page-table__header.support-page-table__header_red
						.support-page-table__header-title Запад
					.support-page-table__body
						.support-table-header
							.support-table-header__item №
							.support-table-header__item Команда
						.support-table-item
							.support-table-item__left
								.support-table-item__number 1
								.support-table-item__logo
									img(src="assets/images/logos/logo-neftehimik.svg" width="30")
								.support-table-item__name Нефтехимик
							.support-table-item__right
								.support-table-item-result
									.support-table-item-result__number 231
									.support-table-item-result__icon
										img(src="assets/images/heart.png" width="14px")
						.support-table-item
							.support-table-item__left
								.support-table-item__number 2
								.support-table-item__logo
									img(src="assets/images/logos/logo-yamal.png" width="30")
								.support-table-item__name Ямал
							.support-table-item__right
								.support-table-item-result
									.support-table-item-result__number 190
									.support-table-item-result__icon
										img(src="assets/images/heart.png" width="14px")
						.support-table-item
							.support-table-item__left
								.support-table-item__number 3
								.support-table-item__logo
									img(src="assets/images/logos/logo-akbars.jpg" width="30")
								.support-table-item__name Екатеринбург
							.support-table-item__right
								.support-table-item-result
									.support-table-item-result__number 183
									.support-table-item-result__icon
										img(src="assets/images/heart.png" width="14px")
						.support-table-item
							.support-table-item__left
								.support-table-item__number 4
								.support-table-item__logo
									img(src="assets/images/logos/logo-auto.svg" width="30")
								.support-table-item__name Автомобилист
							.support-table-item__right
								.support-table-item-result
									.support-table-item-result__number 176
									.support-table-item-result__icon
										img(src="assets/images/heart.png" width="14px")
						.support-table-item
							.support-table-item__left
								.support-table-item__number 5
								.support-table-item__logo
									img(src="assets/images/logos/logo-akbars.jpg" width="30")
								.support-table-item__name Ярославль
							.support-table-item__right
								.support-table-item-result
									.support-table-item-result__number 152
									.support-table-item-result__icon
										img(src="assets/images/heart.png" width="14px")
						.support-table-item
							.support-table-item__left
								.support-table-item__number 6
								.support-table-item__logo
									img(src="assets/images/logos/logo-dynamo.svg" width="30")
								.support-table-item__name Динамо
							.support-table-item__right
								.support-table-item-result
									.support-table-item-result__number 98
									.support-table-item-result__icon
										img(src="assets/images/heart.png" width="14px")
						.support-table-item
							.support-table-item__left
								.support-table-item__number 7
								.support-table-item__logo
									img(src="assets/images/logos/logo-spartak.svg" width="30")
								.support-table-item__name Спартак
							.support-table-item__right
								.support-table-item-result
									.support-table-item-result__number 76
									.support-table-item-result__icon
										img(src="assets/images/heart.png" width="14px")
						.support-table-item
							.support-table-item__left
								.support-table-item__number 8
								.support-table-item__logo
									img(src="assets/images/logos/logo-lokomotiv.svg" width="30")
								.support-table-item__name Локомотив
							.support-table-item__right
								.support-table-item-result
									.support-table-item-result__number 60
									.support-table-item-result__icon
										img(src="assets/images/heart.png" width="14px")
