section.team-photos
	.box
		.team-photos__header
			.headering Фото
			a(href="#").button-more.team-photos__button-more
				.button-more__text Больше фото
				.button-more__icon
					+icon('icon_arrow-white', 12, 8)
		.team-photos__wrap
			.team-photos-item
				.team-photos-item__container
					a(href="#").team-photos-item__image
						.team-photos-item__wrap
							.team-photos-item__count
								.team-photos-item__icon
									+icon('icon_photo', 12, 10)
								.team-photos-item__number 20
					a(href="#").team-photos-item__title СКА – «Барыс» (9:1) XI турнир
					.team-photos-item__date 26 апреля 2017
			.team-photos-item
				.team-photos-item__container
					a(href="#").team-photos-item__image
						.team-photos-item__wrap
							.team-photos-item__count
								.team-photos-item__icon
									+icon('icon_photo', 12, 10)
								.team-photos-item__number 20
					a(href="#").team-photos-item__title СКА – «Барыс» (9:1) XI турнир
					.team-photos-item__date 26 апреля 2017
			.team-photos-item
				.team-photos-item__container
					a(href="#").team-photos-item__image
						.team-photos-item__wrap
							.team-photos-item__count
								.team-photos-item__icon
									+icon('icon_photo', 12, 10)
								.team-photos-item__number 20
					a(href="#").team-photos-item__title СКА – «Барыс» (9:1) XI турнир
					.team-photos-item__date 26 апреля 2017
			.team-photos-item
				.team-photos-item__container
					a(href="#").team-photos-item__image
						.team-photos-item__wrap
							.team-photos-item__count
								.team-photos-item__icon
									+icon('icon_photo', 12, 10)
								.team-photos-item__number 20
					a(href="#").team-photos-item__title СКА – «Барыс» (9:1) XI турнир
					.team-photos-item__date 26 апреля 2017

		a(href="#").button-more.team-photos__button-more-mobile
			.button-more__text Больше видео
			.button-more__icon
				+icon('icon_arrow-white', 12, 8)