section.team-header
	.box
		a(href="#").team-header-back
			.team-header-back__icon
			.team-header-back__text Все команды
		.team-header-logo
			.team-header-logo__logo
				img(src="assets/images/svg/icon_team-logo.svg")
			.team-header-logo__wrap
				.team-header-logo__title Автомобилист
				.team-header-logo__text Екатеринбург
	.team-header-items
		.box.team-header-items__box
			.team-header-items__item
				.team-header-items__text Год основания
				.team-header-items__title 1994
			.team-header-items__item
				.team-header-items__text Конференция
				.team-header-items__title Запад
			.team-header-items__item
				.team-header-items__text Главный тренер
				.team-header-items__title Митин Денис Владимирович
			.team-header-items__item
				.team-header-items__text Сайт клуба
				a(href="#").team-header-items__link
					.team-header-items__title hc-avto.ru
					+icon('icon_new-window', 13, 12)