section.team-places
	.box
		.headering Занимаемые места
		.team-places__wrap
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-gold.svg")
					.team-places-date 2007
					.team-places-title 1 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-silver.svg")
					.team-places-date 2007
					.team-places-title 2 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-bro.svg")
					.team-places-date 2007
					.team-places-title 3 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-blue.svg")
					.team-places-date 2007
					.team-places-title 6 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-blue.svg")
					.team-places-date 2007
					.team-places-title 3 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-gold-big.svg")
					.team-places-date 2007
					.team-places-title 1 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-blue.svg")
					.team-places-date 2007
					.team-places-title 3 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-blue.svg")
					.team-places-date 2007
					.team-places-title 3 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-blue.svg")
					.team-places-date 2007
					.team-places-title 3 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-blue.svg")
					.team-places-date 2007
					.team-places-title 3 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-blue.svg")
					.team-places-date 2007
					.team-places-title 3 место
					.team-places-text Восток
			.team-places-item
				.team-places-item__wrap
					.team-places-icon
						img(src="assets/images/svg/cup-blue.svg")
					.team-places-date 2007
					.team-places-title 3 место
					.team-places-text Восток
			
