section.team-videos
	.box
		.team-videos__header
			.headering Видео
			a(href="#").button-more.team-videos__button-more
				.button-more__text Больше видео
				.button-more__icon
					+icon('icon_arrow-white', 12, 8)
		.team-videos__wrap
			.team-videos-item
				.team-videos-item__container
					a(href="#").team-videos-item__image
						.team-videos-item__icon
							img(src="assets/images/svg/icon_play.svg" width="62px")
						.team-videos-item__wrap
							.team-videos-item__tag.team-videos-item__tag_blue Матчи
							.team-videos-item__time 01:50
					a(href="#").team-videos-item__title Суперфинала XI турнира. Салават Юлаев - ЦСКА (0:3). Максимально длина стр или …
					.team-videos-item__date 26 апреля 2017
			.team-videos-item
				.team-videos-item__container
					a(href="#").team-videos-item__image
						.team-videos-item__icon
							img(src="assets/images/svg/icon_play.svg" width="62px")
						.team-videos-item__wrap
							.team-videos-item__tag.team-videos-item__tag_red Матчи
							.team-videos-item__time 01:50
					a(href="#").team-videos-item__title Шоу открытия матча Суперфинала XI турнира 
					.team-videos-item__date 26 апреля 2017
			.team-videos-item
				.team-videos-item__container
					a(href="#").team-videos-item__image
						.team-videos-item__icon
							img(src="assets/images/svg/icon_play.svg" width="62px")
						.team-videos-item__wrap
							.team-videos-item__tag.team-videos-item__tag_red Матчи
							.team-videos-item__time 01:50
					a(href="#").team-videos-item__title СКА – «Барыс» (9:1) XI турнир
					.team-videos-item__date 26 апреля 2017
			.team-videos-item
				.team-videos-item__container
					a(href="#").team-videos-item__image
						.team-videos-item__icon
							img(src="assets/images/svg/icon_play.svg" width="62px")
						.team-videos-item__wrap
							.team-videos-item__tag.team-videos-item__tag_blue Матчи
							.team-videos-item__time 01:50
					a(href="#").team-videos-item__title СКА – «Барыс» (9:1) XI турнир
					.team-videos-item__date 26 апреля 2017

		a(href="#").button-more.team-videos__button-more-mobile
			.button-more__text Больше видео
			.button-more__icon
				+icon('icon_arrow-white', 12, 8)