section.team-members
	.box
		.team-members__header
			.headering Состав
			.team-members__tabs
				button.team-members__item.team-members__item_active(data-filter=".attack") Нападающие
				button.team-members__item(data-filter=".defender") Защитники
				button.team-members__item(data-filter=".goalkeeper") Вратари
				button.team-members__item(data-filter=".trainer") Тренеры
		.team-members__items
			.team-members-item.attack
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.attack
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.defender
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.attack
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.defender
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.goalkeeper
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.goalkeeper
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.goalkeeper
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.trainer
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.trainer
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.defender
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.defender
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.defender
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			.team-members-item.attack
				.team-members-item__container
					.team-members-item__image
					.team-members-item__wrap
						.team-members-item__number-wrap
							.team-members-item__number 54
						.team-members-item__title Афанасьев Валерий
						.team-members-item__text 26 февраля 2006
			