section.team-about
	.box.team-about__box
		.team-about__left
			.team-about__image(style="background-image: url('assets/images/avtomobilist.jpg');")

			.team-about-description
				.team-about-description__item
					.team-about-description__title Название клуба
					.team-about-description__text Автономная некоммерческая организация «Хоккейный Клуб «Автомобилист»
				.team-about-description__item
					.team-about-description__title Общее количество воспитанников в 2016-2017 гг. (суммарно всех возрастов)
					.team-about-description__text 549
				.team-about-description__item
					.team-about-description__title Название школы
					.team-about-description__text Государственное автономное учреждение дополнительного образования Свердловской области детско-юношеская спортивная школа по хоккею «Спартаковец»
				.team-about-description__item
					.team-about-description__title Директор
					.team-about-description__text Каримов Владимир Ренатович
				.team-about-description__item
					.team-about-description__title Год основания спортиной школы
					.team-about-description__text 1959
				.team-about-description__item
					.team-about-description__title Тренер команды 2006 г. р.
					.team-about-description__text Митин Денис Владимирович
				.team-about-description__item
					.team-about-description__title Лучшие воспитанники
					.team-about-description__text В. Краев, А. Асташов, В. Безукладников, А. Яшин, Н. Хабибуллин, В. Малахов, С. Осипов, И. Лукиянов, Д. Попов, Д. Соколов, А. Волков, Н. Трямкин, А. Голышев, Г. Мишарин
		.team-about__right
			.team-about-support
				.team-about-support__title Поддержи любимую команду!
				.team-about-support__text Болеете за юных хоккеистов ХК «СКА»? Поддерживи любимую команду на хоккейном турнире «Кубок Газпром нефти»!
				ul.team-about-support__list
					li.team-about-support__item
						.team-about-support__wrap
							.team-about-support__number 1
							.team-about-support__logo
								+icon('logo-salavat', 25, 25)
							.team-about-support__name Салават Юлаев
						.team-about-support__like
							.team-about-support__icon
							.team-about-support__val
					li.team-about-support__item
						.team-about-support__wrap
							.team-about-support__number 2
							.team-about-support__logo
								img(src='assets/images/logo-ska.png' width="25px")
							.team-about-support__name СКА
						.team-about-support__like
							.team-about-support__icon
							.team-about-support__val
					li.team-about-support__item
						.team-about-support__wrap
							.team-about-support__number 3
							.team-about-support__logo
								img(src='assets/images/logo-amour.png' width="25px")
							.team-about-support__name Амур
						.team-about-support__like
							.team-about-support__icon
							.team-about-support__val
					li.team-about-support__item.team-about-support__item_active
						.team-about-support__wrap
							.team-about-support__number 4
							.team-about-support__logo
								img(src='assets/images/logo-auto.png' width="25px")
							.team-about-support__name Автомобилист
						.team-about-support__like
							.team-about-support__icon
							.team-about-support__val

				.team-about-support__button Поддержать