section.tickets-description
	.box
		.headering Получение билетов

		.tickets-description__body
			.tickets-description__content
				.tickets-description__title Уважаемые поклонники хоккея!
				.tickets-description__text «Кубок Газпром нефти» приглашает вас посетить матчи турнира, поддержать юных спортсменов и зарядиться положительными эмоциями от игры детских коллективов!
				.tickets-description__title По традиции, вход на турнир — свободный, а билеты можно получить бесплатно!
				.tickets-description__text Билеты нужны для входа на церемонии открытия и матчи Суперфинала. На матчи группового этапа и финалы групп – билеты не потребуются: мы ждем всех желающих, вход свободный.

			.tickets-description-ticket
				img.tickets-description-ticket__image(src="assets/images/ticket.jpg")
				.tickets-description-ticket__text Внешний вид билета на церемонию открытия и стартовый матч группы «Запад».
