section.tickets-table-section
	.box
		table.tickets-table
			tr
				td.events Событие
				td.td-space Место
				td.td-price Стоимость
				td.td-right
			tr
				td.events Церемония открытия (Запад)
				td.td-space ЛД «Большой»
				td.td-price Бесплатно
				td.td-right
					a(href="#").tickets-table__button Получить Online
			tr
				td.events Церемония открытия (Восток)
				td.td-space Арена Омск
				td.td-price Бесплатно
				td.td-right
					a(href="#").tickets-table__button Получить Online
			tr
				td.events Суперфинал (Запад)
				td.td-space ЛД «Большой»
				td.td-price Бесплатно
				td.td-right
					a(href="#").tickets-table__button Получить Online
			tr
				td.events Суперфинал (Восток)
				td.td-space ЛД «Большой»
				td.td-price Бесплатно
				td.td-right
					a(href="#").tickets-table__button Получить Online
			tr
				td.events Матчи предварительного этапа и плей-офф (Запад)
				td.td-space Арена Омск
				td.td-price Бесплатно
				td.td-right.more-padding Вход свободный
			tr
				td Матчи предварительного этапа и плей-офф (Восток)
				td.td-space ЛД «Большой»
				td.td-price Бесплатно
				td.td-right.more-padding Вход свободный