$arenas-arena = 100px 100px
$arenas-people = 100px 100px
$arrow-slider-bg-left = 50px 100px
$arrow-slider-bg-right = 50px 100px
$blue-dark = 530px 378px
$cup-blue = 50px 60px
$cup-bro = 50px 60px
$cup-gold-big = 75px 90px
$cup-gold = 50px 60px
$cup-silver = 50px 60px
$download = 15px 15px
$flag-bl = 15px 10px
$flag-fin = 15px 10px
$flag-ger = 15px 10px
$flag-kz = 15px 10px
$flag-ltv = 15px 10px
$flag-rus = 15px 10px
$flag-ua = 15px 10px
$icon_arrow-blue = 14px 9px
$icon_arrow-grey = 13px 10px
$icon_arrow-white = 12px 8px
$icon_cup-blue = 50px 60px
$icon_fb = 8px 17px
$icon_heart = 113px 113px
$icon_new-window = 13px 12px
$icon_photo = 12px 10px
$icon_play = 62px 62px
$icon_point-blue = 9px 13px
$icon_point = 9px 13px
$icon_team-logo = 120px 120px
$icon_tw = 18px 15px
$icon_vk = 21px 12px
$logo-amour = 25px 25px
$logo-salavat = 25px 25px
$logo-ska = 25px 25px
$ltv = 15px 10px
$quotations = 139px 122px
$small-grey-left = 12px 24px
$small-grey-right = 12px 24px
$small-red = 13px 15px


svgSize($icon)
	width $icon[0]
	height $icon[1]