extends ../layouts/default

block head

block content
	.main
		include ../blocks/header-tabs
		include ../blocks/arenas-about
		include ../blocks/arenas-info
		include ../blocks/arenas-map
		include ../blocks/arenas-media



	script(src="assets/scripts/libs/jquery/dist/jquery.min.js")

	//-script(src="assets/scripts/main.js")
	script(src="assets/scripts/spincrement.js")
