extends ../layouts/default

block head

block content
	.main
		include ../blocks/page-header
		include ../blocks/contacts-block
		include ../blocks/contacts-offers



	script(src="assets/scripts/libs/jquery/dist/jquery.min.js")

	//-script(src="assets/scripts/main.js")
	script(src="assets/scripts/spincrement.js")
