extends ../layouts/default

block head

block content
	.main
		include ../blocks/team-header
		include ../blocks/team-about
		include ../blocks/team-members
		include ../blocks/team-places
		include ../blocks/team-photos
		include ../blocks/team-videos



	//- script(src="assets/scripts/libs/jquery/dist/jquery.min.js")
	script(src='assets/scripts/libs/isotope/dist/isotope.pkgd.min.js')
	script(src="assets/scripts/main.js")
