extends ../layouts/default

block head

block content
	.main
		include ../blocks/header-tabs-programm
		include ../blocks/programm-days



	script(src="assets/scripts/libs/jquery/dist/jquery.min.js")

	//-script(src="assets/scripts/main.js")
	script(src="assets/scripts/spincrement.js")
