extends ../layouts/default

block head

block content
	.main
		include ../blocks/section-support



	script(src="assets/scripts/libs/jquery/dist/jquery.min.js")

	//-script(src="assets/scripts/main.js")
	script(src="assets/scripts/support.js")
