extends ../layouts/default

block head

block content
	.main
		include ../blocks/tickets-description
		include ../blocks/tickets-table



	script(src="assets/scripts/libs/jquery/dist/jquery.min.js")

	//-script(src="assets/scripts/main.js")
